<div class="panel row">
  <div class="col-sm-3">
    <button 
      class="btn btn-block btn-light"
      (click)="selectCategory('')">
      Home
    </button>
    <button 
      class="btn btn-block btn-light"
      *ngFor="let item of products | unique: 'category'"
      (click)="selectCategory(item.category)"
      [class.btn-dark]="item.category === selectedCategory">
      {{item.category}}
    </button>
  </div>
  <div class="col-sm-8">
    <div 
      class="well"
      *ngFor="let item of products | categoryFilterFn: selectedCategory| paginate: { itemsPerPage: 3, currentPage: page}">
      <h3>
        <strong>{{item.name}}</strong>
        <span class="float-right badge badge-primary">
          {{item.price | currency}}
        </span>
      </h3>
      <span class="lead">
        {{item.description}}
      </span>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
